.bus-route-widget {
  .ant-card-body {
    padding: 12px !important;
  }
  &--bus {
    margin: 5px 0;
    padding: 4px;
    background: #e6f4ff;
    border-radius: 10px;
  }
  &--bus-title {
    font-weight: bold;
  }
}

